.table tr.disabled{
    background: #eee;
    color: #999;
}

#fiddler{
    padding: 0 2px;
}
header.navbar{
    margin-bottom: 5px;
}
#requestList{
    position: fixed;
    top: 50px;
    left: 2px;
    right: 2px;
    bottom: 0px;
    overflow: auto;
}
#requestList tbody tr a.icon-url{
    display: none;
}
#requestList tbody tr.err{
    color: red;
}
#requestList tbody tr.get:hover a.icon-url{
    display: inline;
}
.disable-cache{
    position: relative;
    top: -4px;
}
#requestDetail{
    position: fixed;
    display: block;
    top: 50px;
    right: -600px;
    width: 600px;
    bottom: 0;
    background: #fff;
    border-left:1px solid #dddddd;
    border-top-right-radius: 4px;
    -webkit-box-shadow: 0 0 5px 0 #eee;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
}
#requestDetail.open{
    right: 2px;
    opacity: 1;
}
#requestDetail .icon-remove{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
#requestDetail .hd{
    background:#fefefe;
    position:relative;
    height: 38px;
    overflow: hidden;
}
#requestDetail .tab-content{
    overflow: auto;
    position: absolute;
    top: 38px;
    bottom: 0;
    left: 0;
    right: 0;
}
#tab-headers, #tab-preview,#tab-response,#tab-beautify{
    padding: 10px 20px;
    width: 550px;
    word-wrap: break-word;
}
#tab-beautify{
    padding: 0;
    width: 590px;
}
#tab-headers .content .item{
    width: 550px;
    word-wrap: break-word;
}
#tab-headers .content .item b{
    color: #666;
    font-size: 13px;
}

#requestDetail .tab-content .tab-pane{
    display: none;
}
#requestDetail .tab-content .tab-pane.active{
    display: block;
}
#tab-preview img{
    display: block;
    margin: auto;
    box-shadow: 1px 1px 5px #ccc;
    max-width: 560px;
    margin-bottom: 5px;
}
#tab-preview code{
    white-space: normal !important;
}
#tab-preview .syntaxhighlighter code{
    width: auto !important;
}
#tab-preview .syntaxhighlighter .line{
    width: 550px !important;
    overflow: auto !important;
}





#autoResponseList{
    position: fixed;
    top: 40px;
    right: 20px;
    width: 560px;
    bottom: 20px;
    z-index: 1000;
    background: #fff;
    left: auto;
    padding: 10px;
    max-width: 600px;
    display: block;;
    -webkit-transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(.4,.83,.32,1.33);
    -webkit-transform-origin: right top;
}
#autoResponseList.open{
    opacity: 1;
    -webkit-transform: scale(1);
}
#autoResponseList .arrow{
    left: auto;
    right: 50px;
}
#autoResponseList .hd{
    height: 40px;
    line-height: 40px;
    -webkit-user-select: none;
}
#autoResponseList .hd label{
    margin-left: 7px;
    height: 40px;
    line-height: 40px;
}
#autoResponseList .hd label input{
    position: relative;
    top: -2px;
}
#autoResponseList .btn-add{
    position: absolute;
    right: 10px;
    top: 15px;
}

#autoResponseList .rule-list{
    position: absolute;
    bottom: 150px;
    overflow: auto;
    top: 50px;
    width: 560px;
}
#autoResponseList .rule-list p.pattern{
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#autoResponseList .rule-list p.replace{
    width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#autoResponseList .rule-list .rule-check{
    position: relative;
    top: -2px;
}

#autoResponseList .rule-edit{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #fff;
}
#autoResponseList .rule-edit .name{
    display: inline-block;
    width: 70px;
    text-align: right;
    padding-right: 10px;
}
#autoResponseList .rule-edit input.rule-pattern-type,
#autoResponseList .rule-edit input.rule-replace-type{
    width: 60px;
    padding-right: 40px;
    padding-left: 10px;
}
#autoResponseList .rule-edit input.rule-pattern,
#autoResponseList .rule-edit input.rule-replace{
    margin-left: -30px;
    width: 226px;
}
#autoResponseList .rule-edit .btn-save{
    position: absolute;
    right: 10px;
    bottom: 20px;
}
#autoResponseList .rule-edit .btn-select{
    position:relative;top:-5px;left:-40px
}
#autoResponseList .rule-edit .rule-edit-item{
    position: relative;
}
#autoResponseList .rule-edit .dropdown-menu{
    top: auto;
    display: none;
    bottom: 40px;
    left: 83px;
    width: 20px;
    min-width: 110px;
    -webkit-box-shadow: 0 0 0 #000;
}
#autoResponseList .rule-edit .dropdown-menu > li > a{
    padding: 3px 10px;
}
#autoResponseList .rule-edit .dropdown-menu li{
    position: relative;
}
#autoResponseList .rule-edit .dropdown-menu li input[type="file"]{
    position: absolute;
    top: 0px;
    z-index: 100;
    opacity: 0;
}

